<h1>Test</h1>

<form action="" method="POST">

    <label for="test">Test</label>
    <input type="text" name="test" id="test" class="form-control" placeholder="" required>
    <button type="submit" name="btnTest" class="btn btn-primary">Submit</button>

</form>
